.toolbar{

  min-height:52px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
}
.appBar{
  width: 100%;
  z-index:  1201 !important;
}
.logotype{
    color: white;
    font-weight: 500px !important;
    font-size: 18 !important;
    white-space: nowrap;
    margin-left: 40px!important;
    padding-right: 20px !important;
    width: 140px;
}
.grow {
  flex-grow: 1 !important;
}
.menuUser{
 
    display: flex;
    align-items: center;
 
}
.menuProfile{
  display: flex !important;
  align-items: center;
  /* "&:hover": {
    cursor: "pointer",
    backgroundColor: alpha(theme.palette.common.black, 0.08),
  }, */
}
.menuProfileUser{
  background-color: #40454a;
  border-radius: 3px;
  /* "&:hover": {
    cursor: "pointer",
    backgroundColor: "#aaa",
  }, */
}
.headerMenuButton{

  padding:0px 0xp 0xp 0px;
  height:30px;
  
}
.nofitication{
  padding: 0 10px;
}
.imgLogo{
  width: 50px;
  height: 50px;
}
.buttonSelect{
  color: #fff !important;
  text-transform: none !important;
}
.headerSection{
  margin-left: 20px!important;
}
.textButtonHeader{
  text-transform: none !important;
  font-size: 12px !important;
}
.nofitication{
  margin-left: 10px;
}
.profileMenuIcon{
  padding-right: 15px!important;
}