.title {
  padding: 0px 0px 10px 0px;
  font-weight: 600 !important;
  font-size: 16px !important;

}
.paperSearch {
  padding: 20px 50px 20px 20px;
}

.label {
  float: right;
  padding: 15px;
  font-size: 13px !important;
  font-weight: 600 !important;
}
.paddingInput {
  padding-bottom: 10px;
}
.input {
  height: 40px !important;
}
.button {
  text-align: center;
}
.buttonSearch {
  background-color: #1976d2 !important;
  color: #fff !important;
  text-transform: none !important;
  margin-left: 10px !important;
}
.inputDatePicker {
  padding-bottom: 0 !important;
  height: 41px;
}
.paperTable {
  padding: 20px;
  margin-top: 10px;
}
.inputDate {
  padding-bottom: 0 !important;
  height: 41px !important;
}
.buttonDetails {
  background-color: #1976d2 !important;
  color: #fff !important;
  text-transform: none !important;
  height: 34px !important;
}
.buttonBack{
padding-bottom: 20px;
}
